config:
    php:
        # The path to the PHP executable, use by the async command way
        executable_path: php

    buzz:
        # The Buzz main class
        class:           \Buzz\Browser
        # The Buzz timeout, in second
        timeout:         10

    replay:
        # The replay model class
        class:           \EloGank\Replay\Replay
        # The replay path
        path:            replays/
        decoder:
            # Decode files after download them
            enable:      true
            # Save decoded files into the replay folder
            save_files:  true
        download:
            # Number of max retry
            max_retry:   15
        command:
            handler:
                # On command success, must be a class namespace
                success: ~
                # On command failure, must be a class namespace
                failure: ~
            exception:
                # Don't throw a full exception by default, only show the message
                throw: false
        http_client:
            # List of the spectator server addresses
            servers:
                EUW1:    185.40.64.163:80
                NA1:     192.64.174.163:80
                EUN1:    95.172.65.26:8088
                KR:      110.45.191.11:8088
                BR1:     66.151.33.19:80
                TR1:     95.172.65.242:80
                TW:      112.121.84.194:8088
                LA1:     66.151.33.19:80
                LA2:     66.151.33.19:80
                RU:      95.172.65.242:80
                PBE1:    69.88.138.29:8088
                OC1:     95.172.65.242:80
